<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title data-message="title">Process Flow</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ visualization_url }}navbar.css">

    <script src="worker.js" type="javascript/worker"></script>
</head>

<body>
    <nav class="navbar is-link" role="navigation"
    aria-label="main navigation" id="navbar">
    </nav>

    <main role="main">
        <div id="header">
            <div class="container">
                <h1 class="title" data-message="title">Process flow</h1>
            </div>
        </div>

        <div class="container">
            <section class="section is-small">
                <div class="columns is-multiline">
                    <div class="column">
                        <div id="navigation" class="tabs is-toggle">
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <div id="filter" class="content is-small">
                        </div>
                        <div id="zoom" class="content has-text-right">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="container">
            <div id="content">
                <div class="container">
                    <section class="section">
                        <div id="error-message" class="notification is-danger is-hidden"></div>
                        <div id="flow"></div>
                    </section>
                </div>
            </div>
        </div>

        <div class="container">
            <section class="section is-small">
                <div class="tile is-ancestor">
                    <div class="tile is-parent is-9">
                        <div class="tile is-child box">
                            <div class="content">
                                <p class="has-text-grey-darker" data-message="help"></p>
                                <p class="has-text-grey-dark" data-message="tips"></p>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">
                            <div class="content" id="legend">
                            </div>
                            <div class="content" id="palette">
                            </div>
                            <div class="content" id="slider">
                                <div class="columns">
                                    <div class="column is-narrow">
                                        <label class="content is-small" for="num-stories" data-message="stories">Stories:</label>
                                    </div>
                                    <div class="column">
                                        <input type="range" id="num-stories" class="slider has-output is-small" min="1" step="1">
                                        <output for="num-stories"></output>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <script type="text/javascript" src="{{ visualization_url }}vendor.js"></script>
</body>

</html>
