<!DOCTYPE html>
<html>

<head>
    <title>Process flow</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="{{ visualization_url }}navbar.css">

    <script src="manifest.js"></script>
    <script src="worker.js" type="javascript/worker"></script>
</head>

<body>
    <nav class="navbar is-link" role="navigation"
    aria-label="main navigation" id="navbar">
    </nav>

    <div id="header">
        <div class="container">
            <h1 class="title" data-message="title">Process flow</h1>
        </div>
    </div>

    <div class="container">
        <section class="section is-small">
            <!-- Project navigation -->
            <div id="navigation" class="tabs is-toggle">
            </div>

            <div id="error-message" class="notification is-danger is-hidden"></div>
        </section>
    </div>

    <div class="container">
        <section class="section is-small">
            <div class="tile is-ancestor">
                <div class="tile is-parent is-9">
                    <div class="tile is-child box">
                        <div class="content">
                            <p data-message="help"></p>
                            <p class="has-text-grey" data-message="tips"></p>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent is-hidden">
                    <div class="tile is-child box">
                        <div class="content" id="legend">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="container">
        <div id="content">
            <div class="container">
                <section class="section">
                    <div id="flow"></div>
                </section>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ visualization_url }}manifest.js"></script>
    <script type="text/javascript" src="{{ visualization_url }}vendor.js"></script>
</body>

</html>
