@import "node_modules/bulma-slider/src/sass/index";
@import "node_modules/bulma/bulma";
@import "node_modules/@gros/visualization-ui/res/index";

body {
    font-family: 'Open Sans', sans-serif;
}

#header {
    margin-bottom: 10px;    
    border-bottom: 1px solid #eee;
    font-weight: 400;
}

#header h1 {
    padding: 1.5rem;
}

.section.is-small {
    padding: .5rem 1.5rem;
}

.section {
    padding: 1.5rem;
}

.tabs ul {
    flex-wrap: wrap;
}

#container {
    position: relative;
}
#loading-spinner {
    position: absolute;
    opacity: .8;
    top: 1.5rem;
}

#filter {
    margin-bottom: 1rem;
}
#filter label {
    padding: 1em .5em 1em .5em;
}
#filter input {
    margin-right: .25rem;
}

#flow {
    text-align: center;
    height: 25rem;
    box-shadow: 2px 1px 5px #ccc;
    background-color: #fdfdfd;
    border-radius: 3px;
}

#flow svg {
    display: block;
    width: 100%;
    height: 25rem;
}

#legend, #palette {
    margin-bottom: .5rem;
}

#legend .tag {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    padding: 1.25em;
    margin: 0 .25em .25em 0;
    font-family: serif;
    background-color: #ffffff;
}

#palette svg text {
    font-size: 75%;
}

#slider {
    padding: 0 .25rem 0 .25rem;
}
#slider .column {
    padding: .25rem .5rem .25rem .5rem;
}

#slider input {
    direction: rtl;
    margin: 0;
}

#slider output {
    top: 0;
    padding: .2rem .4rem;
}

/* d3-graphviz bug */
div[display=none] {
    display: none;
}
